@model int

@{
    ViewData["Title"] = "Delete Car";
}

<h2>Are you sure you want to delete this car?</h2>
<a href="/cars/remove/@Model" class="btn btn-danger">Confirm Delete</a>
<a href="/cars/parts" class="btn btn-default">Back</a>

